[submodule "FYP_RaspberryPi"]
	path = FYP_RaspberryPi
	url = https://github.com/ThaySilva/FYP_RaspberryPi.git
[submodule "Statistics_and_Metrics_Collector"]
	path = Statistics_and_Metrics_Collector
	url = https://github.com/ThaySilva/Statistics_and_Metrics_Collector.git
[submodule "RoverHQ"]
	path = RoverHQ
	url = https://github.com/ThaySilva/RoverHQ.git
